<%- include('../partials/header.ejs'); %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <h1><%= title %></h1>
            <h2>Welcome to <%= title %></h2>
            <h1>This is Navya Bhavana KUkkapalli</h1>
            <h2>My student ID is 301171412</h2>
        </div>
      </div>
    </div>

<%- include('../partials/footer.ejs'); %>


